header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  font-size: 70%;
}

.header-links {
  text-decoration: none;
  color: black;
  padding: 5px;
}

