/* header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
} */

/* #sitename {
  margin-top: 0;
  padding-top: 5px;
} */

.header-links {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* header hr {
  height: 1px;
  background-color: black;
  border: none;
} */