button {
  background-color: black;
  color: white;
  display: block;
  height: 24px;
  margin: auto 25px;
  border: none;
}

.attraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
}