#body {
  background-color: #0f5298;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #0f5298;
  text-align: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 5rem;
  background-color: #0f5298;
}

g {
  outline: none;
}

@media (min-width: 600px){
  body {
    width: 100%;
  }
}